# Geração da Planilha

In [19]:
from faker import Faker
from faker.providers.date_time import Provider
from random import choice
import pandas as pd

In [20]:
def gerar_dataframe(linhas):
    """
    Gera um dicionário com nomes e datas de nascimento aleatórios e os transforma em um DataFrame

    Parameters:
    linhas (int): Número de linhas que o dataframe terá

    Returns:
    dataframe (DataFrame)
    """
    Faker.seed(0)
    fake = Faker('pt_BR')

    planilha = {'NOME': [],
                'DATA': []}

    for _ in range(linhas):
        nome = fake.name()
        nasc = fake.date()
        
        planilha['NOME'].append(nome)
        planilha['DATA'].append(nasc)
    

    df = pd.DataFrame(data=planilha)
    return df

df = gerar_dataframe(5)
display(df)

                     NOME        DATA
0          Sophie Peixoto  1972-10-03
1  Luiz Gustavo Rodrigues  1997-07-22
2            Lucca Moraes  2009-09-13
3     Luiz Fernando Cunha  1989-03-07
4    Vitor Gabriel Castro  2012-01-30

# Tratando os Dados

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOME    5 non-null      object
 1   DATA    5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

In [23]:
type( df.iloc[0, 1] )

str

In [24]:
df.loc[5] = ['Lucas Maia Dantas', '2024-01-25']
df['DATA'] = pd.to_datetime(df['DATA']).dt.date
display(df)

                     NOME        DATA
0          Sophie Peixoto  1972-10-03
1  Luiz Gustavo Rodrigues  1997-07-22
2            Lucca Moraes  2009-09-13
3     Luiz Fernando Cunha  1989-03-07
4    Vitor Gabriel Castro  2012-01-30
5       Lucas Maia Dantas  2024-01-25

In [25]:
df['EMAIL'] = [f'colaborador{i}@gmail.com' for i in range( len(df) )]
display(df)

                     NOME        DATA                   EMAIL
0          Sophie Peixoto  1972-10-03  colaborador0@gmail.com
1  Luiz Gustavo Rodrigues  1997-07-22  colaborador1@gmail.com
2            Lucca Moraes  2009-09-13  colaborador2@gmail.com
3     Luiz Fernando Cunha  1989-03-07  colaborador3@gmail.com
4    Vitor Gabriel Castro  2012-01-30  colaborador4@gmail.com
5       Lucas Maia Dantas  2024-01-25  colaborador5@gmail.com

In [26]:
setores = ['DIATE',
           'CAC',
           'CAIXA',
           'CHAT',
           'APA',
           'Aproxime',
           'EATRE2',
           'Fale Conosco',
           'APTA', 
           'CPF FRAUDE']

df['SETOR'] = [choice(setores) for _ in range( len(df) )]
display(df)

                     NOME        DATA                   EMAIL       SETOR
0          Sophie Peixoto  1972-10-03  colaborador0@gmail.com  CPF FRAUDE
1  Luiz Gustavo Rodrigues  1997-07-22  colaborador1@gmail.com        CHAT
2            Lucca Moraes  2009-09-13  colaborador2@gmail.com  CPF FRAUDE
3     Luiz Fernando Cunha  1989-03-07  colaborador3@gmail.com       CAIXA
4    Vitor Gabriel Castro  2012-01-30  colaborador4@gmail.com    Aproxime
5       Lucas Maia Dantas  2024-01-25  colaborador5@gmail.com       DIATE

In [27]:
print( df.iloc[5, 0] )
print( df.iloc[5, 1] )
type( df.iloc[5, 1] )

Lucas Maia Dantas
2024-01-25

datetime.date

In [28]:
df.to_pickle('aniversarios.pkl')