# Geração da Planilha

In [4]:
from faker import Faker
from faker.providers.date_time import Provider
import pandas as pd

In [20]:
def gerar_dataframe(linhas):
    """
    Gera um dicionário com nomes e datas de nascimento aleatórios e os transforma em um DataFrame

    Parameters:
    linhas (int): Número de linhas que o dataframe terá

    Returns:
    dataframe (DataFrame)
    """
    Faker.seed(0)
    fake = Faker('pt_BR')

    planilha = {'NOME': [],
                'DATA': []}

    for _ in range(linhas):
        nome = fake.name()
        nasc = fake.date()
        
        planilha['NOME'].append(nome)
        planilha['DATA'].append(nasc)
    

    df = pd.DataFrame(data=planilha)
    return df

df = gerar_dataframe(5)
display(df)

                     NOME        DATA
0          Sophie Peixoto  1972-10-03
1  Luiz Gustavo Rodrigues  1997-07-22
2            Lucca Moraes  2009-09-13
3     Luiz Fernando Cunha  1989-03-07
4    Vitor Gabriel Castro  2012-01-30